{% extends 'base.html' %}

{% block page_title %}
    {{ author.name }} {{ author.apellido }}
{% endblock %}

{% block content %}
    <article class="detailed-post">
        <div class="detail-body">
            <h1>Detalls Del Autor</h1>
            <p><strong>Nom: </strong>{{ author.name }}</p>
            <p><strong>Cognom: </strong>{{ author.apellido }}</p>            
            <p><strong>Adreça: </strong>{{ author.email }}</p>            
        </div>
        
        <div class="last-posts">
            <h1>Posts publicats per {{ author.name }} {{ author.apellido }}</h1>
        
            <div class="posts-container">
                {% for post in author.posts.all %}
                    <a href="{% url 'post-detail-page' post.slug %}" class="post-link">
                        <div class="post-preview">
                            {% if post.imatge %}
                                <img src="{{ post.imatge.url }}" alt="{{ post.titulo }}" class="preview-image">
                            {% endif %}
                            <h3>{{ post.titulo }}</h3>
                            <p>{{ post.contingut|truncatechars:120 }}</p>
                        </div>
                    </a>
                {% empty %}
                    <p>Encara no s'ha publicat cap post.</p>
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock %}