{% extends 'base.html' %}

{% block page_title %}
    Pagina Principal
{% endblock %}

{% block content %}
    <div class="main-info">
        <h1>Benvingut al Projecte de Programacio Blog 6</h1>
        <a>Aquest es el projecte de Django</a>
    </div>
    <div class="last-posts">
        <h1>Darrers Posts</h1>
        <div class="posts-container">
            {% for post in posts %}
                    <a href="{% url 'post-detail-page' post.slug %}" class="post-link">
                        <div class="post-preview">
                            {% if post.imatge %}
                                <img src="{{post.imatge.url}}" alt="{{post.titol}}" class="preview-image">
                            {% endif %}
                            <h3>{{post.titol}}</h3>
                            <p>{{post.contingut|truncatechars:100}}</p>
                        </div>
                    </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}