

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block page_title %} Projecte Blogs {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
</head>

<body>
    <nav class="main-nav">
        <div class="main-div">
            <ul class="main-links">
                <li><a href="{% url 'starting-page' %}">Blog Programacio 6</a></li>
                <li><a href="{% url 'posts-page' %}">POSTS</a></li>
                <li><a href="{% url 'author-list-page' %}">AUTORS</a></li>
                <li><a href="{% url 'tag-list-page' %}">TAGS</a></li>
            </ul>
        </div>
    </nav>
    
    <img src="{% static 'blog/images/banner.jpg' %}" alt="Banner del blog" class="main-banner">

    <main class="main-content">
            {% block content %} {% endblock %}
    </main>

    <footer class="main-footer"><strong>© 2026 Copyright: Blog de programacion 6 amb Django </strong></footer>

</body>
</html>