<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="{% url 'starting-page' %}">Blog M3-UF6</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'starting-page' %}">INICI</a>
                <a class="nav-link" href="{% url 'posts-page' %}">POSTS</a>
                <a class="nav-link" href="{% url 'author-list-page' %}">AUTORS</a>
                <a class="nav-link" href="{% url 'tag-list-page' %}">TAGS</a>
            </div>
        </div>
    </div>
</nav>